# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.bak
